$nav-bg:#254E70 !default;

.toc-wrapper {
  display: flex;
  flex-direction: column;
}

#toc {
  flex-grow: 1;
}

.toc-wrapper .toc-footer {
  margin-top: .5em;
  li {
    text-align: center;
  }
}

.content pre, .content blockquote {
  width: initial !important;
  float: none !important;
  clear: none !important;
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl {
  margin-right: initial !important;
}

.content > div.highlight, .content pre {
  margin-bottom: 1em !important;
}

.content h2 {
  margin-top: 1em !important;
}

.dark-box {
  display: none !important;
}
